body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skillsList {
    text-align: center;
}

p {
    font-size: large;
}

ol {
    display: inline-block;
    text-align: left;
    list-style: disc;
}

.aboutMe {
    text-align: center;
}

section {
    text-align: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}